{
  "extends": "airbnb-base",
  "plugins": ["import"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "h"
    }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  }
}
